doctype html
html.no-js(lang='es', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Cotizador
    link(rel='stylesheet', href='app.css')
  body
    .row.menu-principal
    .row.text-center
      h1 Cotizador Imprenta ROM
      h5 El propósito de esta página es calcular el valor de un producto
    .row.main-container
    script(src='jquery.js')
    script(src='what-input.js')
    script(src='foundation.js')
    script(src='app.js')


